InstaMiam/build/
InstaMiam/nbproject/
InstaMiam/build.xml
InstaMiam/web/WEB-INF/glassfish-web.xml
InstaMiam/dist/
/InstaMiam/build/
InstaMiam/lib/CopyLibs/org-netbeans-modules-java-j2seproject-copylibstask.jar
InstaMiam/lib/javaee-endorsed-api-6.0/javaee-doc-api.jar
InstaMiam/lib/javaee-endorsed-api-6.0/javax.annotation.jar
InstaMiam/lib/javaee-endorsed-api-6.0/jaxb-api-osgi.jar
InstaMiam/lib/javaee-endorsed-api-6.0/webservices-api-osgi.jar
InstaMiam/lib/nblibraries.properties
BaseDeDonnees/
BaseDeDonnees/derby.log
*.log
InstaMiam/conf/persistence.xml
