/*
        By Pavinich Christian & Siddi Steven
*/
/*--------------------------------
 2) FONTS
--------------------------------*/
.ruge { font-family: 'Ruge Boogie', cursive; font-weight: 400; }

@font-face {
    font-family: 'Museo300Regular';
    src: url('fonts/museo/museo300-regular-webfont.eot');
    src: url('fonts/museo/museo300-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/museo/museo300-regular-webfont.woff') format('woff'),
        url('fonts/museo/museo300-regular-webfont.ttf') format('truetype'),
        url('fonts/museo/museo300-regular-webfont.svg#Museo300Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo500Regular';
    src: url('fonts/museo/museo500-regular-webfont.eot');
    src: url('fonts/museo/museo500-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/museo/museo500-regular-webfont.woff') format('woff'),
        url('fonts/museo/museo500-regular-webfont.ttf') format('truetype'),
        url('fonts/museo/museo500-regular-webfont.svg#Museo500Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo700Regular';
    src: url('fonts/museo/museo700-regular-webfont.eot');
    src: url('fonts/museo/museo700-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/museo/museo700-regular-webfont.woff') format('woff'),
        url('fonts/museo/museo700-regular-webfont.ttf') format('truetype'),
        url('fonts/museo/museo700-regular-webfont.svg#Museo700Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* A font by Jos Buivenga (exljbris) -> http://www.exljbris.com */

/*TODO a virer ////// Classes for fonts so we don't have to keep calling them in CSS - Add the classes in your HTML*/
.m300 { font-family: 'Museo300Regular', sans-serif; font-weight: normal;}
.m500 { font-family: 'Museo500Regular', sans-serif; font-weight: normal;}
.m700 { font-family: 'Museo700Regular', sans-serif; font-weight: normal;}

/*****************************
  Template
 *****************************/





/*****************************
  Body
 *****************************/

body {
    background: url('img/bg_pat.jpg') repeat center top;
}


/*****************************
  Header
 *****************************/

header {
    background: url('img/awning.png') repeat-x center top;
}

/*****************************
  Footer
 *****************************/

footer{
    font-family: 'Museo500Regular', sans-serif; font-weight: normal;
    bottom:0px;
    position: absolute;
    width:100%;
}

#classeTrash{
    background: #7c5f74;

}
footer #content{
    background: #7c5f74;
    padding-bottom: 15px; 
    padding-top: 10px;
    font-family: 'Museo500Regular', sans-serif; font-weight: normal;

}


.footer-splash {
    margin-top: 49px;
    background: url('img/footer.png') repeat-x center top;
    height: 26px;

}



