/*
	By Pavinich Christian & Siddi Steven
*/

/*****************************
  Template
 *****************************/
#foot{
	position:fixed;
	bottom:0px;
	height:115px;
	width:100%;
}

#logo{
	width:350px;/*
	margin-left:50px;*/
	position:absolute;
	float: left;
	padding-left: 50px;
	margin-top: -10px;
}

#espace_footer {
	height:115px;
}

#langues {
	right:30px;
}